
.metadata/.lock
.metadata/.log
.metadata/.plugins/org.eclipse.core.resources/.history/1/c05e21b1cce8001d1160c0527450fe93
.metadata/.plugins/org.eclipse.core.resources/.history/1/e0fca83cf6e8001d1a6db3a8d90fde61
.metadata/.plugins/org.eclipse.core.resources/.history/24/902f0ea4d3e8001d1160c0527450fe93
.metadata/.plugins/org.eclipse.core.resources/.history/28/a022858ae1e8001d1160c0527450fe93
.metadata/.plugins/org.eclipse.core.resources/.history/29/10efb55ef0e8001d1160c0527450fe93
.metadata/.plugins/org.eclipse.core.resources/.history/2f/a05d44dfcee8001d1160c0527450fe93
.metadata/.plugins/org.eclipse.core.resources/.history/32/80fe2d43f6e8001d1a6db3a8d90fde61
.metadata/.plugins/org.eclipse.core.resources/.history/33/5053c4aad3e8001d1160c0527450fe93
.metadata/.plugins/org.eclipse.core.resources/.history/34/9092dd49f6e8001d1a6db3a8d90fde61
.metadata/.plugins/org.eclipse.core.resources/.history/35/a09f0974f6e8001d1a6db3a8d90fde61
.metadata/.plugins/org.eclipse.core.resources/.history/40/c009aa9fe1e8001d1160c0527450fe93
.metadata/.plugins/org.eclipse.core.resources/.history/4a/9002f10ef9e8001d1a6db3a8d90fde61
.metadata/.plugins/org.eclipse.core.resources/.history/4d/60e1fb78f8e8001d1a6db3a8d90fde61
.metadata/.plugins/org.eclipse.core.resources/.history/4f/e0a5ae34e1e8001d1160c0527450fe93
.metadata/.plugins/org.eclipse.core.resources/.history/6/f0ba8825f6e8001d1a6db3a8d90fde61
.metadata/.plugins/org.eclipse.core.resources/.history/60/3017854fcfe8001d1160c0527450fe93
.metadata/.plugins/org.eclipse.core.resources/.history/60/50b0012be1e8001d1160c0527450fe93
.metadata/.plugins/org.eclipse.core.resources/.history/60/806513d4e1e8001d1160c0527450fe93
.metadata/.plugins/org.eclipse.core.resources/.history/61/00203d2ff5e8001d1a6db3a8d90fde61
.metadata/.plugins/org.eclipse.core.resources/.history/65/50584f40e5e8001d1160c0527450fe93
.metadata/.plugins/org.eclipse.core.resources/.history/66/009cc66ae1e8001d1160c0527450fe93
.metadata/.plugins/org.eclipse.core.resources/.history/72/00883276d3e8001d1160c0527450fe93
.metadata/.plugins/org.eclipse.core.resources/.history/7f/000d61a5e1e8001d1160c0527450fe93
.metadata/.plugins/org.eclipse.core.resources/.history/8/202c5245f8e8001d1a6db3a8d90fde61
.metadata/.plugins/org.eclipse.core.resources/.history/82/9024d749e3e8001d1160c0527450fe93
.metadata/.plugins/org.eclipse.core.resources/.history/87/600d1452f9e8001d1a6db3a8d90fde61
.metadata/.plugins/org.eclipse.core.resources/.history/8a/00383c44e7e8001d1160c0527450fe93
.metadata/.plugins/org.eclipse.core.resources/.history/9/700ff62ef6e8001d1a6db3a8d90fde61
.metadata/.plugins/org.eclipse.core.resources/.history/91/80cdc14af5e8001d1a6db3a8d90fde61
.metadata/.plugins/org.eclipse.core.resources/.history/92/e0660d4acfe8001d1160c0527450fe93
.metadata/.plugins/org.eclipse.core.resources/.history/95/50047300f6e8001d1a6db3a8d90fde61
.metadata/.plugins/org.eclipse.core.resources/.history/95/a0d66c21e1e8001d1160c0527450fe93
.metadata/.plugins/org.eclipse.core.resources/.history/99/f0f00cd6f4e8001d1a6db3a8d90fde61
.metadata/.plugins/org.eclipse.core.resources/.history/9e/c0ba4f6ce6e8001d1160c0527450fe93
.metadata/.plugins/org.eclipse.core.resources/.history/a6/201ca675f7e8001d1a6db3a8d90fde61
.metadata/.plugins/org.eclipse.core.resources/.history/a7/701ad8d4f4e8001d1a6db3a8d90fde61
.metadata/.plugins/org.eclipse.core.resources/.history/b1/107e858ff7e8001d1a6db3a8d90fde61
.metadata/.plugins/org.eclipse.core.resources/.history/bf/d0741f53f7e8001d1a6db3a8d90fde61
.metadata/.plugins/org.eclipse.core.resources/.history/c0/d02dd54fe1e8001d1160c0527450fe93
.metadata/.plugins/org.eclipse.core.resources/.history/c7/c0243033f8e8001d1a6db3a8d90fde61
.metadata/.plugins/org.eclipse.core.resources/.history/cd/b0d8c56ae1e8001d1160c0527450fe93
.metadata/.plugins/org.eclipse.core.resources/.history/cf/30ed8a7af5e8001d1a6db3a8d90fde61
.metadata/.plugins/org.eclipse.core.resources/.history/dd/a0c5f938f8e8001d1a6db3a8d90fde61
.metadata/.plugins/org.eclipse.core.resources/.history/e/d081d3a1d3e8001d1160c0527450fe93
.metadata/.plugins/org.eclipse.core.resources/.history/ef/c08ed464e5e8001d1160c0527450fe93
.metadata/.plugins/org.eclipse.core.resources/.history/f5/d043fb2be7e8001d1160c0527450fe93
.metadata/.plugins/org.eclipse.core.resources/.history/fc/309a4440f6e8001d1a6db3a8d90fde61
.metadata/.plugins/org.eclipse.core.resources/.projects/.org.eclipse.egit.core.cmp/.location
.metadata/.plugins/org.eclipse.core.resources/.projects/.org.eclipse.egit.core.cmp/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/.org.eclipse.egit.core.cmp/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/EpicodeBackendCourse1/.indexes/e4/2b/f5/43/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/EpicodeBackendCourse1/.markers
.metadata/.plugins/org.eclipse.core.resources/.projects/EpicodeBackendCourse1/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/EpicodeBackendCourse1/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/EserciziGiorno1/.indexes/af/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/EserciziGiorno1/.indexes/e4/85/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/EserciziGiorno1/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/EserciziGiorno1/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/EserciziGiorno1/org.eclipse.jdt.core/state.dat
.metadata/.plugins/org.eclipse.core.resources/.projects/TeoriaGiorno1/.indexes/af/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/TeoriaGiorno1/.indexes/e4/6c/22/92/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/TeoriaGiorno1/.indexes/e4/96/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/TeoriaGiorno1/.indexes/e4/ae/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/TeoriaGiorno1/.indexes/e4/b4/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/TeoriaGiorno1/.markers
.metadata/.plugins/org.eclipse.core.resources/.projects/TeoriaGiorno1/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/TeoriaGiorno1/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/TeoriaGiorno1/org.eclipse.jdt.core/state.dat
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.root/2.tree
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.core.resources/2.snap
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.e4.ui.css.swt.theme.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.e4.ui.workbench.renderers.swt.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.egit.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.junit.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.launching.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jsch.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jst.j2ee.webservice.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jst.jsp.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.m2e.discovery.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.pde.api.tools.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.tm4e.registry.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.tm4e.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.navigator.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.workbench.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.urischeme.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.jsdt.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.ws.service.policy.prefs
.metadata/.plugins/org.eclipse.debug.core/.launches/Helloworld.launch
.metadata/.plugins/org.eclipse.debug.core/.launches/MainProject.launch
.metadata/.plugins/org.eclipse.debug.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.debug.ui/launchConfigurationHistory.xml
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.egit.core/.org.eclipse.egit.core.cmp/.project
.metadata/.plugins/org.eclipse.egit.core/.org.eclipse.egit.core.cmp/.settings/org.eclipse.core.resources.prefs
.metadata/.plugins/org.eclipse.jdt.core/1865797976.index
.metadata/.plugins/org.eclipse.jdt.core/2377328780.index
.metadata/.plugins/org.eclipse.jdt.core/3267201208.index
.metadata/.plugins/org.eclipse.jdt.core/4228076665.index
.metadata/.plugins/org.eclipse.jdt.core/4251437471.index
.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
.metadata/.plugins/org.eclipse.jdt.core/javaLikeNames.txt
.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
.metadata/.plugins/org.eclipse.jdt.launching/.install.xml
.metadata/.plugins/org.eclipse.jdt.launching/libraryInfos.xml
.metadata/.plugins/org.eclipse.jdt.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/0.png
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/1.png
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/2.png
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/3.png
.metadata/.plugins/org.eclipse.jdt.ui/OpenTypeHistory.xml
.metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/.workspace/2023/5/18/refactorings.history
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/.workspace/2023/5/18/refactorings.index
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/TeoriaGiorno1/2023/5/18/refactorings.history
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/TeoriaGiorno1/2023/5/18/refactorings.index
.metadata/.plugins/org.eclipse.ltk.ui.refactoring/dialog_settings.xml
.metadata/.plugins/org.eclipse.m2e.core/workspaceState.ser
.metadata/.plugins/org.eclipse.m2e.logback/0.log
.metadata/.plugins/org.eclipse.m2e.logback/logback.2.1.0.20221015-0744.xml
.metadata/.plugins/org.eclipse.oomph.setup/workspace.setup
.metadata/.plugins/org.eclipse.pde.core/.cache/clean-cache.properties
.metadata/.plugins/org.eclipse.tips.ide/dialog_settings.xml
.metadata/.plugins/org.eclipse.tm.terminal.view.ui/.executables/data.properties
.metadata/.plugins/org.eclipse.ui.ide/dialog_settings.xml
.metadata/.plugins/org.eclipse.ui.intro/introstate
.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
.metadata/.plugins/org.eclipse.wst.jsdt.core/externalLibsTimeStamps
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/baseBrowserLibrary.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/browserWindow.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/dom5.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/system.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/xhr.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/variablesAndContainers.dat
.metadata/.plugins/org.eclipse.wst.jsdt.ui/OpenTypeHistory.xml
.metadata/.plugins/org.eclipse.wst.jsdt.ui/QualifiedTypeNameHistory.xml
.metadata/.plugins/org.eclipse.wst.sse.core/task-tags.properties
.metadata/version.ini
