<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    
 <bean id="testXML" class="beanConfigurationXML.TestXML" scope="singleton">
<constructor-arg index="0" type="String" value="Primo Bean XML"></constructor-arg>
<constructor-arg index="1" type="String" value="Testo Bean XML"></constructor-arg>
</bean>

 <bean id="testXMLparams" class="beanConfigurationXML.TestXML" scope="singleton">
<constructor-arg index="0" type="String" value="Secondo Bean XML"></constructor-arg>
<constructor-arg index="1" type="String" value="Testo secondo Bean XML"></constructor-arg>
<!--  i paramenti devo per forza passarli qui-->
</bean>

</beans>